@page
@model MyHome.Pages.Costs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Model.Cost.CostType.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Erstellt</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost.Created)
        </dd>
        <dt class="col-sm-2">Jahr</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost.Year)
        </dd>
        <dt class="col-sm-2">Wert</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost.Value)
        </dd>
        <dt class="col-sm-2">Bemerkung</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost.Description)
        </dd>
        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10 col-md-6 col-lg-4">
            <img class="img-thumbnail" src="@Model.Base64Image" />
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Cost.Id">Edit</a> |*@
    <a asp-page="/Index">Back to List</a>
</div>
