@page
@model IndexModel
@{
    ViewData["Title"] = "Kostenverlauf";
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</div>

@if (Model.CostList == null || !Model.CostList.Any())
{
    <div class="text-center">
        <p>Keine Kosten vorhanden!</p>
    </div>
}
else
{
    <ol class="overview-list">

        @foreach (int year in Model.CostList.Select(c => c.Year).Distinct())
        {
            <li><h3>Im Jahr @year</h3></li>

            @foreach (var item in Model.CostList.Where(c => c.Year == year))
            {
                <li class="user-list-item">
                    <span class="user-list-item-header">
                        @Html.DisplayFor(modelItem => item.CostType.Name)
                    </span>
                    <span class="user-list-item-details">Kosten: @(item.Value)€</span>
                    <div class="user-list-item-actions">
                        <a asp-page="/Costs/Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="/Costs/Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="/Costs/Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </li>
            }
        }
    </ol>
}