@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
</div>

<section class="personal-overview cards">
    <a class="card" asp-page="/MeterReadings/Index">
        <img src="~/img/dashboard-level.svg" class="card-image" alt="meter reading icon" />
        <div class="card-content">
            <h3 class="card-title">Zählerstände</h3>
            <p class="card-description">Anzahl: @Model.MeterReadingsConut</p>
            @*
                TODO: New Feature - Recognize if a value for the current year is missing
                <p class="card-alert">Bitte tragen Sie das aktuelle Jahr ein!</p>*@
        </div>
    </a>
    <a class="card" asp-page="/Costs/Index">
        <img src="~/img/handout.svg" class="card-image" alt="cost icon" />
        <div class="card-content">
            <h3 class="card-title">Kosten</h3>
            <p class="card-description">Anzahl: @Model.CostsCount</p>
        </div>
    </a>
</section>

@*
    @if (Model.Cost == null || !Model.Cost.Any())
    {
    <div class="text-center">
    <p>Keine Kosten vorhanden!</p>
    </div>
    }
    else
    {
    <ol class="overview-list">

    @foreach (int year in Model.Cost.Select(c => c.Year).Distinct())
    {
    <li>
    <h3>Im Jahr @year</h3>
    </li>

    @foreach (var item in Model.Cost.Where(c => c.Year == year))
    {
    <li class="user-list-item">
    <span class="user-list-item-header">
    @Html.DisplayFor(modelItem => item.CostType.Name)
    </span>
    <span class="user-list-item-details">Kosten: @(item.Value)€</span>
    <div class="user-list-item-actions">
    <a asp-page="/Costs/Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-page="/Costs/Details" asp-route-id="@item.Id">Details</a> |
    <a asp-page="/Costs/Delete" asp-route-id="@item.Id">Delete</a>
    </div>
    </li>
    }
    }
    </ol>
    }*@