@page "/Houses/{id}"
@model DetailsModel
@{
    ViewData["Title"] = $"Housedetails";
}

<div class="main-container">
    <div class="main-header">
        <h1>@ViewData["Title"]</h1>
        <div class="main-actions"></div>
    </div>
    <div class="main-content">

        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ViewModel.Street)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ViewModel.Street)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ViewModel.Number)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ViewModel.Number)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ViewModel.PostalCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ViewModel.PostalCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ViewModel.City)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ViewModel.City)
                </dd>
            </dl>
        </div>
    </div>
</div>

@if (Model.ViewModel.MeterReadings != null)
{
    <div class="main-container mt-3">
        <div class="main-header">
            <h1>Meter Readings</h1>
            <div class="main-actions">
                <a asp-page="/MeterReadings/Create" asp-route-houseId="@Model.ViewModel.Id" class="btn btn-success">Add Reading</a>
            </div>
        </div>
        <div class="main-content">

            <ul class="list-group">
                @if (Model.ViewModel.MeterReadings.Any())
                {
                    for (int i = 0; i < Model.ViewModel.MeterReadings.Count; i++)
                    {
                        <li class="list-group-item list-group-item-action">

                            <div class="d-flex align-items-center">
                                <a asp-page="/MeterReadings/Details" asp-route-houseId="@Model.ViewModel.MeterReadings[i].HouseId" asp-route-id="@Model.ViewModel.MeterReadings[i].Id" class="list-group-item-text">
                                    <div>
                                        <p>@Model.ViewModel.MeterReadings[i].ReadingType.Name</p>
                                        <p>@Model.ViewModel.MeterReadings[i].Year</p>
                                        <p>@Model.ViewModel.MeterReadings[i].Value</p>
                                    </div>
                                </a>

                                <div class="dropdown">
                                    <span id="actions@(i)" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class='bx bx-dots-vertical-rounded'></i>
                                    </span>
                                    <ul class="dropdown-menu" aria-labelledby="actions@(i)">
                                        <li>
                                            <a class="dropdown-item" asp-page="/MeterReadings/Delete" asp-route-houseId="@Model.ViewModel.Id" asp-route-id="@Model.ViewModel.MeterReadings[i].Id">
                                                <i class='bx bx-trash'></i>
                                                <span>Delete</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No Meterreadings recorded</li>
                }
            </ul>

        </div>
    </div>
}

<div class="mt-3">
    <a asp-page="/Index">Back</a>
</div>