@page
@model MyHome.Web.Pages.MeterReadings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeterReading</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Erstellt</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeterReading.Created)
        </dd>
        <dt class="col-sm-2">Jahr</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeterReading.Year)
        </dd>
        <dt class="col-sm-2">Wert</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeterReading.Value)
        </dd>
        @if (!string.IsNullOrEmpty(Model.MeterReading.Description))
        {
            <dt class="col-sm-2">Bemerkung</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MeterReading.Description)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.Base64Image))
        {
            <dt class="col-sm-2">Image</dt>
            <dd class="col-sm-10 col-md-6 col-lg-4">
                <img class="img-thumbnail" src="@Model.Base64Image" />
            </dd>
        }
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.MeterReading.Id">Edit</a> |*@
    <a asp-page="./Index">Back to List</a>
</div>
