@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Descrition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Descrition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.User!.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseType!.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expense.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
